@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0b0f1a] text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
